.icon-button {
    line-height: 0;
}

.reply-button,
.edit-button,
.delete-button {
    margin-top: 16;
    background: none;
    cursor: pointer;
    display: flex;
    width: 66;
}

.reply-button, .edit-button {
    color: hsl(238, 40%, 52%);
}

.edit-button,
.delete-button {
    justify-content: space-evenly;
}

.delete-button {
    color: hsl(358, 79%, 66%);
}

.reply-button {
    justify-content: space-around;
    align-items: center;  
}

.update-button, 
.reply-from-current-user-button {
    background-color: hsl(238, 40%, 52%);
    color: hsl(0, 0%, 100%);
    padding: 10 17;
    margin-top: 16;
    border-radius: 8;
    cursor: pointer;
}

.cancel-confirmation-modal-btn,
.delete-confirmation-modal-btn {
    padding: 12 34.5;
    border-radius: 8;
    color:hsl(0, 0%, 100%);
    cursor: pointer;
}

.cancel-confirmation-modal-btn {
    background-color: hsl(211, 10%, 45%);

}

.delete-confirmation-modal-btn {
    background-color: hsl(358, 79%, 66%);
}